body > header .navbar-brand:after {content: "docs"}
.navbar {min-height: 86px;}
body > footer > .copyright {margin-top: 0; background-color: transparent; padding-top: 0;}
.content-kb .page pre, ul {margin-bottom: 20px;}
.content-kb .index h3 a {color: inherit;}
code {color: inherit; background-color: rgba(0,0,0,0.04);}
pre {border-left: 5px solid #ddd; padding-left: 15px}