<ul>
    <li><a href="/apps/index.html">Index</a></li>
</ul>
<h3>Reference Documentation</h3>
<ul>
	<li><a href="/apps/trigger.html">Trigger</a></li>
	<li><a href="/apps/trigger.instant.html">Instant Trigger</a></li>
	<li><a href="/apps/action.html">Action</a></li>
	<li><a href="/apps/rpc.html">RPC</a></li>
	<li><a href="/apps/search.html">Search</a></li>
	<li><a href="/apps/webhook.html">Webhook</a></li>
	<li><a href="/apps/account.basic.html">Basic Connection</a></li>
	<li><a href="/apps/account.oauth1.html">OAuth 1 Connection</a></li>
	<li><a href="/apps/account.oauth2.html">OAuth 2 Connection</a></li>
</ul>
<h3>Articles</h3>
<ul>
	<li><a href="/apps/articles/getting-started.html">Getting started</a></li>
	<li><a href="/apps/articles/types.html">Types</a></li>
	<li><a href="/apps/articles/iml.html">IML</a></li>
	<li><a href="/apps/articles/functions.html">Functions</a></li>
	<li><a href="/apps/articles/base.html">Base</a></li>
	<li><a href="/apps/articles/parameters.html">Parameters</a></li>
</ul>
<h3>Example Apps</h3>
<ul>
	<li><a href="https://www.integromat.com/app/slack/1">Slack</a></li>
	<li><a href="https://www.integromat.com/app/mailerlite/1">Mailer Lite</a></li>
</ul>